<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 📡 Permiso para usar Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 📡 Permiso para acceder al estado de la red (comprobar si hay conexión) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 📁 Permiso para leer y escribir en el almacenamiento (si es necesario) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:configChanges="uiMode"
        android:supportsRtl="true"
        android:theme="@style/Theme.MelodIA"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PasswordActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".AboutActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".bodyActivity"
            android:screenOrientation="portrait"
            android:configChanges="locale|layoutDirection|screenSize|orientation"/>

        <activity android:name=".Optionsactivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".Savesactivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".profileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Listactivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".exportActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
